#GroupCardSwiper {
  width: 1300px;
  height: 560px;
  background-color: red;
}

#GroupCardSlide {
  width: auto;
  height: auto;
}

#GroupCardSwiper > .swiper-button-prev {
  color: blue;
}

#GroupCardSwiper > .swiper-button-next {
  color: blue;
}
