#GroupCardSlide {
  width: 384px;
  height: 500px;
  display: flex;
  transform: translate3d(-407px, 40px, 0px);
}

#GroupCardSwiper {
  width: 1200px;
  height: 580px;
}

#GroupCardSwiper > .swiper-button-prev {
  top: 150px;
  left: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: white;
  font-weight: bold;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.05);
}

#GroupCardSwiper > .swiper-button-prev::after {
  font-size: 20px;
  color: #68f99e;
}

#GroupCardSwiper > .swiper-button-next {
  top: 150px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: white;
  font-weight: bold;
}
#GroupCardSwiper > .swiper-button-next::after {
  font-size: 20px;
  color: #68f99e;
}

#GroupCardSwiper > .swiper-pagination {
  display: none;
}

/* 모바일 */
#GroupCardSlideMob {
  width: 156px;
  height: 220px;
  display: flex;
  transform: translate3d(-95px, 0px, 0px);
}

#GroupCardSwiperMob {
  width: 375px;
  height: 300px;
}

#GroupCardSwiperMob > .swiper-button-prev {
  display: none;
}

#GroupCardSwiperMob > .swiper-button-next {
  display: none;
}

#GroupCardSwiperMob > .swiper-pagination {
  display: none;
}
