body.active-modal {
  overflow-y: hidden;
}

.btn-modal {
  padding: 10px 20px;
  display: block;
  font-size: 18px;
  border: none;
  background-color: white;
  cursor: pointer;
}

.btn-modal :hover {
  border: 1px solid #68f99e;
}

.modal .overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: white(255, 255, 255, 0.8);
}
.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: absolute;
  top: 18.1%;
  left: 73%;
  transform: translate(-20%, -60%);
  padding: 16px 24px;
  width: 160px;
  height: 165px;
  z-index: 2;
  font-size: 18px;
  font-weight: 400;
  font-family: "Spoqa Han Sans Neo";
  background: #ffffff;
  border: 1px solid rgba(149, 149, 149, 0.25);
  box-shadow: 3px 4px 5px rgba(149, 149, 149, 0.25);
  border-radius: 10px;
}
